<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/unit/bootstrap.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">
    <testsuites>
        <testsuite name="LivingWord Unit Tests">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="LivingWord Integration Tests">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="JPATH_BASE" value="."/>
        <const name="JPATH_ROOT" value="."/>
    </php>
    <source>
        <include>
            <directory>admin/src</directory>
            <directory>site/src</directory>
        </include>
        <exclude>
            <directory>admin/src/View</directory>
            <directory>site/src/View</directory>
            <directory>admin/src/Field</directory>
        </exclude>
    </source>
</phpunit>
