<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="general_settings" label="COM_LIVINGWORD_CONFIG_GENERAL">
        <field name="config_global_startdate" type="calendar" default="NOW" filter="server_utc" format="%Y-%m-%d"
               label="COM_LIVINGWORD_CONFIG_STARTDATE" description="COM_LIVINGWORD_CONFIG_STARTDATE_DESC" />
        <field name="config_bible_version" type="text" default="kjv"
               label="COM_LIVINGWORD_CONFIG_VERSION" description="COM_LIVINGWORD_CONFIG_VERSION_DESC" />
        <field name="config_bible_plan" type="text" default="comp"
               label="COM_LIVINGWORD_CONFIG_PLAN" description="COM_LIVINGWORD_CONFIG_PLAN_DESC"
               hint="e.g. comp, newtest, bio" size="20" maxlength="50" />
        <field name="config_plan_template" type="list" default="calendar" validate="options"
               label="COM_LIVINGWORD_CONFIG_PLAN_TEMPLATE" description="COM_LIVINGWORD_CONFIG_PLAN_TEMPLATE_DESC">
            <option value="default">COM_LIVINGWORD_CONFIG_TEMPLATE_LIST</option>
            <option value="calendar">COM_LIVINGWORD_CONFIG_TEMPLATE_CALENDAR</option>
        </field>
        <field name="config_enable_email" type="radio" layout="joomla.form.field.radio.switcher" default="1"
               label="COM_LIVINGWORD_CONFIG_ENABLE_EMAIL" description="COM_LIVINGWORD_CONFIG_ENABLE_EMAIL_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="config_show_print" type="radio" layout="joomla.form.field.radio.switcher" default="1"
               label="COM_LIVINGWORD_CONFIG_SHOW_PRINT">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="config_scripture_display" type="list" default="inline" validate="options"
               label="COM_LIVINGWORD_CONFIG_SCRIPTURE_DISPLAY" description="COM_LIVINGWORD_CONFIG_SCRIPTURE_DISPLAY_DESC">
            <option value="inline">COM_LIVINGWORD_CONFIG_SCRIPTURE_INLINE</option>
            <option value="toggle">COM_LIVINGWORD_CONFIG_SCRIPTURE_TOGGLE</option>
            <option value="link">COM_LIVINGWORD_CONFIG_SCRIPTURE_LINK</option>
        </field>
        <field name="config_show_audio" type="radio" layout="joomla.form.field.radio.switcher" default="1"
               label="COM_LIVINGWORD_CONFIG_SHOW_AUDIO" description="COM_LIVINGWORD_CONFIG_SHOW_AUDIO_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="config_audio_default_version" type="text" default=""
               label="COM_LIVINGWORD_CONFIG_AUDIO_VERSION" description="COM_LIVINGWORD_CONFIG_AUDIO_VERSION_DESC"
               hint="COM_LIVINGWORD_PLAN_AUDIO_VERSION_HINT" size="20" maxlength="20" />
    </fieldset>
    <fieldset name="menu_settings" label="COM_LIVINGWORD_CONFIG_MENU">
        <field name="config_show_menu" type="radio" layout="joomla.form.field.radio.switcher" default="1"
               label="COM_LIVINGWORD_CONFIG_SHOW_MENU">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL"
               validate="rules" filter="rules" component="com_livingword" section="component" />
    </fieldset>
</config>
